<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" {% if page.url == "/" %}class="active" {% endif %}><a href="{{ "/" | relative_url }}">Home</a></li>
        <!-- <li role="presentation"><a href="#">About</a></li>  -->
        <li role="presentation"{% if page.url == "/contact/" %}class="active" {% endif %}><a href="{{ "/contact" | relative_url }}">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Michael Josephson</h3>
  </div>