---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Personal projects</h1>

  <ul class="my-list">
    {% for project in site.projects %}
      <li>
          <strong>{{ project.title | escape }}</strong>: {{ project.description }}
          <a href="{{ project.url}}"</a>read more &raquo;</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Recent talks</h1>

  <ul class="my-list">
    {% for talk in site.talks reversed %}
      <li>
          <strong>{{ talk.title | escape }}</strong> at <a href="{{ talk.external_url}}"</a>{{ talk.event | escape }}</a><br>
          {% if talk.summary %}{{ talk.summary | escape }}<br>{% endif %}
          {% if talk.permalink %}
            <a href="{{talk.url | relative_url }}">notes</a>
          {% endif %}
          {% if talk.slides %}
            <a href="{{talk.slides | relative_url }}">slides</a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
